body{
	margin: 0;
	padding: 0;
	font-family: 'Helvica';
	background-color: beige;
}

.wrap{
	width: 450px;
	overflow: hidden;
	margin: auto;
	margin-top: 180px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid silver;
}
.wrap h2{
	text-align: center;
	margin-bottom: 20px;
}
.wrap input{
	width: 400px;
	height: 35px;
	margin-bottom: 10px;
	border: 1px solid silver;
	border-radius: 3px;
	text-align: center;
}
.wrap .btn{
	width: 400px;
	height: 35px;
	padding: 5px;
}